extends layout

block content
	ul
		- data1.forEach(function(item){
			li= item.book_name
		- })
	- data2.forEach(item=>{
		p= item.second.keyword
	- })
	- data3.forEach(item=>{
		h1= item.book_name
	- })
